# 30th Jan Assignment

In [ ]:
## Q1 Write a program to accept percentage from the user and display the grade according to the below table - 
## Marks >90, Grade A
## Marks >80 and <=90, Grade B
## Marks >=60 and <=80, Grade C
## Marks below 60, Grade D

In [7]:
marks=int(input("Enter the marks"))
if marks>90:
    print("Grade A")
elif marks>80 and marks<=90:
    print("Grade B")
elif marks>=60 and marks<=80:
        print("Grade C")
else:
            print("Grade D")

Enter the marks 75

Grade C

In [ ]:
## Q2 Write a program to accept cost price of a bike and road tax to be paid accordingly to the following criteria 
## CP > 100000, Tax 15%
## CP > 50000 and <=100000, Tax 10%
## CP <= 50000, > Tax 5%

In [8]:
price=int(input("Enter the price"))
if price>100000:
    print(f"Tax to be paid is {(price*0.15)}")
elif price>50000 and price<=100000:
    print(f"Tax to be paid is {(price*0.1)}")
elif price<=50000:
        print(f"Tax to be paid is {(price*0.05)}")

Enter the price 65000

Tax to be paid is 6500.0

In [ ]:
## Q3 Accept any city and display monument
## Delhi > Red Fort, Agra > Taj Mahal, Jaipur > Jai Mahal

In [9]:
city=input("Enter the city")
if city=="Delhi":
    print("Red Fort")
elif city=="Agra":
    print("Taj Mahal")
elif city=="Jaipur":
        print("Jai Mahal")

Enter the city Jaipur

Jai Mahal

In [ ]:
## Q4 Check how many times a number can be divided by 3 before it is less than equal to 10

In [4]:
for i in range (11):
    if i <= 10:
        if i % 3 ==0:
            print(i)

0
3
6
9

In [ ]:
## Q5 Why and when to use WHILE LOOP in python give detailed descriptipon with example

In [ ]:
## A5 A While loop in Python allows a part of the code to be executed repeatedly as long as a given condition is true.
## Bascally, you keep on running a code unitl a specific defined condiiton is met, if condition is not met, code will keep on running
## Example 1 - If we are to print numbers one to 5 by adding '1' everytime, the condition will faiyl at number 6

In [10]:
i = 1
n = 5

# while loop from i = 1 to 5
while i <= n:
    print(i)
    i = i + 1

1
2
3
4
5

In [ ]:
## In the above example, 1 is printed and increased to 2, 2 is printed and increased to 3 and so on... till, 5 is printed and increased to 6 but at 6, n=5 is becomes fales and loop is terminated

In [ ]:
## Another example below where if age is less than 18, message displayed will be "you cannot vote" and once age condition exceeds 18, it will print "you can vote"

In [11]:
age = 1
while (age < 18):
    age = age + 1
    print("You cannot vote")
else:
        print ("YOu can vote")

You cannot vote
You cannot vote
You cannot vote
You cannot vote
You cannot vote
You cannot vote
You cannot vote
You cannot vote
You cannot vote
You cannot vote
You cannot vote
You cannot vote
You cannot vote
You cannot vote
You cannot vote
You cannot vote
You cannot vote
YOu can vote

In [ ]:
## Q6 Use nested while loop to print 3 different patterns

In [ ]:
## First pattern is right angle triangle printed using * symbol

In [12]:
rows = 5
for i in range(1, rows + 1):
    for j in range(1, i + 1):
        print("*", end=" ")
    print('')

*
* *
* * *
* * * *
* * * * *

In [ ]:
## In the above example, 
# outer loop is  > for i in range(1, rows + 1):
    # inner loop is > 
    for j in range(1, i + 1):
        print("*", end=" ")
    print('')

In [ ]:
## Second pattern is to print prime numbers from 1-50

In [1]:
i = 2
while(i < 50):
   j = 2 
   while(j <= (i/j)):
      if not(i%j): break
      j = j + 1
   if (j > i/j) : print (i, " is prime")
   i = i + 1

2  is prime
3  is prime
5  is prime
7  is prime
11  is prime
13  is prime
17  is prime
19  is prime
23  is prime
29  is prime
31  is prime
37  is prime
41  is prime
43  is prime
47  is prime

In [ ]:
## third pattern is to break a nested loop
## In the below link, we are breaking the range of numbers at 20

In [15]:
for i in range(100):
    print(i)
    if i == 20:
        break

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [ ]:
## Q7 Reverse a while loop to showcase numbers 10 to 1

In [6]:
for i in range (10,0,-1):
    print(i,end=' , ')

10 , 9 , 8 , 7 , 6 , 5 , 4 , 3 , 2 , 1 ,

In [ ]:
## Q8 Reverse a while loop to showcase numbers 10 to 1 (same as Q7)

In [16]:
for i in range (10,0,-1):
    print(i,end=' , ')

10 , 9 , 8 , 7 , 6 , 5 , 4 , 3 , 2 , 1 ,